#realgrid {
    width: 100%;
    height: 450px; /* for WebKit */
  }

  #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(4){
    display:none
  }

  #chartdiv2 > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3){
    display:none
  }

  #chartdiv > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3){
    display:none
  }
  #chartdiv3 > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(4){
    display:none
  }